#ribbon-container {
    background-color: rgba(234, 240, 105, 0.78);
    width: 100%;
    height: 35px;
    box-shadow: 0 1px 50px #5E5E5E;
    position: fixed;
    top: 0;
    text-align: center;
    z-index: 999999;
}

#ribbon-label {
    margin-top: 5px;
    font-size: 16px;
}

#ribbon-command {
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 1000000;
}
